.container {
  width: 50%;
  height: 150px;
  background-color: #bbc9d4;
  background-color: rgb(0, 0, 0);
  color: lightgray;
  margin: 1.3rem auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  display: flex;
}
.top {
  display: flex;
  flex-direction: row;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: space-between;
  color: rgb(214, 167, 81);
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(32, 31, 31);
}
.top .heading {
  color: #c2c5ff;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.bottom .div1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3rem;
  justify-content: space-between;
}

.header {
  background-color: rgb(185, 124, 10);
  border-radius: 10px;
  color: black;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1rem;
}
