.div {
  top: 10px;
  left: 10px;
  right: 10px;
  position: fixed;
  bottom: 10px;
  border-radius: 20px;
  background-color: lightgray;
  box-shadow: 70px 70px 200px rgb(0, 0, 0);
  z-index: 1000;
}
.left {
  padding: 1rem;
}
.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div1 span {
  padding: 0.2rem 1rem;
  font-size: 190%;
  width: 33.3%;
  text-align: center;
}
.div1 span:nth-child(3) {
  color: rgb(193, 86, 86);
  text-align: right;
  text-shadow: 1px 1px 1px black;
}
.div1 span:nth-child(3):hover {
  cursor: pointer;
}
.div2 {
  display: flex;
  flex-direction: row;
}

.UpperDeck {
  display: flex;
  width: 35rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 1rem;
  align-items: center;
}
.UpperSeats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}
.seater {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  margin: 0.1rem 0.4rem;
  border-radius: 5px;
  text-align: center;
}

.sleeper {
  width: 70px;
  height: 35px;
  text-align: center;
  margin-top: 1.5rem;
  margin-right: 1.7rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.UpperRight {
  width: 70px;
  height: 35px;
  border: 1px solid gray;
  margin-top: 0.3rem;
  margin-right: 1.8rem;
  margin-left: 0.7rem;
  border-radius: 5px;
  text-align: center;
}

.LowerDeck {
  display: flex;
  flex-direction: row;
  width: 35rem;
  padding: 0.3rem;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  border-radius: 10px;
}
.LowerDeck .sleeper {
  margin-left: 0.8rem;
  margin-bottom: 1rem;
}

.dis {
  cursor: no-drop;
  opacity: 0.3;
}
.Booked {
  background-color: gray;
  cursor: no-drop;
  color: white;
}

.helper {
  font-size: 1.3rem;
  top: 50%;
  margin-left: 200px;
  position: absolute;
  width: 300px;
  text-align: justify;
  background-color: rgb(9, 96, 172);
  color: rgb(228, 217, 217);
  padding: 0.5rem;
  border-radius: 5px;
}
.select {
  background-color: rgb(18, 162, 18);
  color: white;
  cursor: pointer;
}

.Reserved {
  border: 1px solid palevioletred;
  box-shadow: 1px 1px 2px rgb(216, 123, 123);
}
.pink {
  background-color: rgb(238, 76, 103);
}
.form {
  margin-top: 100px;
}
