.div {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  right: 190px;
  top: 80px;
  position: fixed; */
}

.div center {
  font-size: 1.2rem;
  text-align: center;
  color: green;
}

.form {
  display: flex;
  flex-direction: row;
}
