.legand {
  display: flex;
  margin-bottom: 1rem;
}
.legandBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0.5rem;
}
.legandBox div:nth-child(1) {
  width: 15px;
  height: 15px;
}

.avl,
.booked,
.female,
.Reserved {
  border-radius: 4px;
}
.avl {
  background-color: lightgray;
  border: 1px solid black;
}
.female {
  background-color: rgb(238, 76, 103);
}
.booked {
  background-color: gray;
}
.Reserved {
  border: 1px solid palevioletred;
  box-shadow: 1px 1px 2px rgb(216, 123, 123);
}
