.img {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.div h1 {
  width: 100%;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 4rem;
  margin-left: 13rem;
  color: rgb(70, 109, 125);
  text-decoration: underline;
}

.div h1::first-letter {
  font-size: 6rem;
}

.div {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-left: 10rem;
  align-items: last baseline;
  width: 45%;
  justify-content: space-evenly;
}
.btn {
  font-size: 2rem;
  height: 50px;
  width: 190px;
  color: white;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 0.5rem;
  background-color: rgb(15, 77, 101);
  box-shadow: 4px 4px 4px rgb(142, 141, 141);
  transition: 0.1s;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(93, 144, 165);
  height: 57px;
  width: 192px;
  color: black;
  transition: 0.1s;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -1.3rem;
  margin-left: 1rem;
  border-radius: 1rem;
  width: 150px;
  height: 0px;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 20px 50px darkblue;
}

.btn:active:after {
  box-shadow: 0 0 0 0 darkcyan;
  border-radius: 1em;
  opacity: 1;
  transition: 0s;
}
